<div class="work">
    <h2 class="page-header">财务开单信息</h2>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-md-2 col-md-offset-10">
				<div class="dropdown">
					<button class="btn btn-default" data-toggle="dropdown" type="button">
					功能列表 <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">财务开单</a></li>
						<li><a href="#">财务审核</a></li>
						<li class="divider"></li>
						<li><a href="#">科研项目</a></li>
						<li><a href="#">科研成果</a></li>
					</ul>
		        </div>
			</div>
		</div>
	    <div class="form-group">
			<label class="col-md-2 control-label">项目名称：</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="username" placeholder="项目名">
			</div>
			<div class="col-md-2">
				<label class="checkbox-inline col-md-offset-2"><input type="checkbox">是否首拨</label>
			</div>
		</div>
        <div class="form-group">
        	<label class="col-md-2 control-label">拨入经费（万元）：</label>
        	<div class="col-md-8">
				<input type="text" class="form-control" id="" placeholder="0.00">
			</div>
        </div>
        <div class="form-group">
        	<label class="col-md-2 control-label">外拨经费（万元）：</label>
        	<div class="col-md-8">
				<input type="text" class="form-control" id="" placeholder="0.00">
			</div>
        </div>
        <div class="form-group">
        	<label class="col-md-2 control-label">实际到账（万元）：</label>
        	<div class="col-md-8">
				<input type="text" class="form-control" id="" placeholder="" readonly>
			</div>
        </div>
        <div class="form-group">
        	<div class="col-md-8">
        		<label class="radio-inline col-md-offset-1"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">按比例分配拨入经费</label>
            	<label class="radio-inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">自定义分配拨入经费</label>
        	</div>
        	<div class="col-md-4">
        		<button class="btn" type="button">计算经费</button>
        	</div>
        </div>
         <div class="form-group">
        	<label class="col-md-2 control-label">管理费（万元）：</label>
        	<div class="col-md-6">
				<input type="text" class="form-control" id="" placeholder="0.00">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="" placeholder="0%">
			</div>
        </div>
         <div class="form-group">
        	<label class="col-md-2 control-label">水电费（万元）：</label>
        	<div class="col-md-6">
				<input type="text" class="form-control" id="" placeholder="0.00">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="" placeholder="0%">
			</div>
        </div>
         <div class="form-group">
        	<label class="col-md-2 control-label">参加项目研究生劳务费（万元）：</label>
        	<div class="col-md-6">
				<input type="text" class="form-control" id="" placeholder="0.00">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="" placeholder="0%">
			</div>
        </div>
         <div class="form-group">
        	<label class="col-md-2 control-label">其他费（万元）：</label>
        	<div class="col-md-6">
				<input type="text" class="form-control" id="" placeholder="0.00">
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="" placeholder="0%">
			</div>
        </div>
        <div class="form-group">
        	<label class="col-md-2 control-label">实际到账（万元）：</label>
        	<div class="col-md-8">
				<input type="text" class="form-control" id="" placeholder="" readonly>
			</div>
        </div>
        <div class="form-group">
			<label for="" class="col-md-2 control-label">备注：</label>
			<div class="col-md-8">
				<textarea name="" id="" rows="5" class="form-control" placeholder=""></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 col-md-offset-2">
				<button class="btn btn-info btn-lg" type="button">确认</button>
			</div>
			<div class="col-md-2">
				<button class="btn btn-info btn-lg" type="button">取消</button>
			</div>
		</div>
    </form>
</div>